*, :before, :after{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Segoe UI', 'Roboto', arial, sans-serif;	
}

header.navbar{
	display: flex;
	flex-direction: column;
	background-color: #FDFFFC;
}

.navbar-top{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 4px 8px;
}

.navbar-top > .brand{
	cursor: pointer;
}

.navbar-top > .brand img{
	width: 64px;
}

/*
 *	Menu Toggler
 */

.navbar-top > .menu-toggler{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.navbar-top > .menu-toggler > .bar{
	width: 100%;
	height: 5px;
	background-color: #001524;
}
.navbar-top > .menu-toggler-close > .bar{
	display: none;
}

.navbar-top > .menu-toggler-close:before,
.navbar-top > .menu-toggler-close:after{
	content: "";
	position: absolute;
	width: 32px;
	height: 5px;
	background-color: #001524;	
}

.navbar-top > .menu-toggler-close:before{
	transform: rotate(45deg);
}
.navbar-top > .menu-toggler-close:after{
	transform: rotate(-45deg);	
}

.menu-container{
	display: none;
	flex-direction: column;
}

.menu-container > .menu{
	display: flex;
	flex-direction: column;	
	align-items: center;
	padding: 4px;
}

.menu-container > .menu > .menu-item{
	width: 100%;
	text-align: center;
	padding: 6px 14px;
	font-weight: 700;
	text-wrap: wrap;
	word-break: break-word;
	background-color: #001524;
	border-radius: 3.5px;
	color: #fff;
	text-decoration: none;
}

.menu-item:not(:last-child){
	margin-bottom: 4px;
}



.menu-container > .search-widget{
	display: flex;
	flex-direction: column;
	padding: 4px 8px;
}


.menu-container > .search-widget > .custom-search-input{
	border: 3px solid #ccc;  
	padding: 4px;
	display: flex;
	flex-direction: row;
	font-size: 18px;
	background-color: #fff;
}

.menu-container > .search-widget > .custom-search-input > input[type='text']{
	position: relative;
	flex: 1 0 0;
	border-right-color: transparent;
	padding: 4px;
	border-color: transparent;
	outline: none;
}



.menu-container > .search-widget > .custom-search-input > button{
	background-color: #ccc;
	border: none;
	cursor: pointer;
	outline: none;
}

.custom-search-input > button:hover{
	background-color: #555555 !important;
	color: #FFF;
}

.focus{
	border: 3px solid #555 !important;
}

.banner{
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url(https://scontent.fcpt1-1.fna.fbcdn.net/v/t1.0-9/p851x315/59295315_332104984172026_7498824371226542080_o.jpg?_nc_cat=107&_nc_sid=e007fa&_nc_eui2=AeFVVgUAqppNgPZt7o8SHthznETG2FhNFuGcRMbYWE0W4TiHs_OBzqmA9eAtmvBezbxnBCmNsuXmR1XFwtdLJFYy&_nc_ohc=LbPHcrLQBFQAX-xiQ11&_nc_ht=scontent.fcpt1-1.fna&_nc_tp=6&oh=84f4cbff4e44589b5bb365e24e1eb782&oe=5ED0EA7F);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center 0;
	background-color: black;
	overflow: hidden;
}

.banner:after{
	content: "";
	display: block;
	padding-bottom: 55%;
}

.banner .content{
	position: absolute;
	width: 100%;
	height: 100%;
}

.banner .content > .wr{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.banner .content > .wr > h1{
	width: 50%;
	margin: 0;
	
}

.main-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #FDFFFC;
	padding: 2.5%;
	font-size: 18px;
	position: relative;
	min-height: 100vh;
}

.main-content > h2{
	margin: 0;
	margin-bottom: 8px;
	text-align: center;
}

.main-content > p{
	margin: 4px auto;
	width: 60%;
}

.main-content > p:last-child{
	margin-bottom: 0;
}

@media screen and (min-width:640px){
	header.navbar{
		flex-direction: row;
		justify-content: space-between;
		padding: 3px;
	}	
	
	/* Hide menu toggler */
	.menu-toggler{
		display: none !important;
	}
	
	.menu-container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	.menu-container > .menu{
		width: 100%;
		flex-direction: row;
		justify-content: flex-end;
		padding: 0;
		margin-bottom: 3px;
	}
	
	.menu-container > .menu > .menu-item{
		width: auto;
	}

	.menu-item:not(:last-child){
		margin-bottom: 0;
		margin-right: 3px;
	}



	.menu-container > .search-widget{
		flex: 0 0 100%;
		align-self: center;
		padding: 0;
	}


	.menu-container > .search-widget > .custom-search-input{
		border: 3px solid #ccc;  
		padding: 4px;
		display: flex;
		flex-direction: row;
		font-size: 18px;
		background-color: #fff;
	}

	.menu-container > .search-widget > .custom-search-input > input[type='text']{
		position: relative;
		flex: 1 0 0;
		border-right-color: transparent;
		padding: 4px;
		border-color: transparent;
		outline: none;
	}



	.menu-container > .search-widget > .custom-search-input > button{
		background-color: #ccc;
		border: none;
		cursor: pointer;
		outline: none;
	}

	.custom-search-input > button:hover{
		background-color: #555555 !important;
		color: #FFF;
	}

	.focus{
		border: 3px solid #555 !important;
	}
}